html {
  font-size: 20px;
}

body {
  font-family: europa, "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(000, 000, 000, 0.5);
  &__bg {
    position: relative;
    z-index: 2;
    padding: 30px;
  }
  &__log a {
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
  }
  &__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #fff;
  }
  &__navi {
    &__list {
      display: flex;
    }
  }
}
