@charset "UTF-8";
html {
  font-size: 20px;
}

body {
  font-family: europa, "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__bg {
  position: relative;
  z-index: 2;
  padding: 30px;
}

.header__log a {
  font-family: cursive;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.header__cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__navi a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  color: #fff;
}

.header__navi__list {
  display: flex;
}

.mainKv {
  position: relative;
  background-image: url(../images/kv.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 660px;
}

.mainKv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 10px 10px 5px #000;
}

.mainContent__subTitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.mainContent__subTitle::before, .mainContent__subTitle::after {
  display: inline-block;
  content: "";
  vertical-align: 5px;
  width: 32px;
  height: 2px;
  background-color: #000;
}

.mainContent__subTitle::before {
  margin-right: 8px;
}

.mainContent__subTitle::after {
  margin-left: 8px;
}

.mainContent__cat {
  margin-bottom: 120px;
}

.mainContent__cat .mainContent__inner {
  max-width: 1080px;
  margin: auto;
  padding: 120px 0 0;
}

.mainContent__cat .mainContent__title {
  font-family: fantasy;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.mainContent__cat .mainContent__title::after {
  content: "";
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 2px;
  border-bottom: 2px solid;
}

.mainContent__cat .concept__cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainContent__cat .concept__cat .concept__img {
  width: calc(50% - 40px);
}

.mainContent__cat .concept__cat .concept__img img {
  width: 100%;
}

.mainContent__cat .concept__cat .concept__text {
  width: calc(50% - 40px);
  height: 630px;
  overflow-y: auto;
}

.mainContent__cat .concept__cat .concept__text .concept__sentence p {
  margin-bottom: 16px;
}

.application .mainContent__cat {
  margin-bottom: 240px;
}

.application__cat {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.application__img {
  width: 60%;
}

.application__img__bg {
  background-image: url(../images/main_02.jpg);
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  display: inline-block;
}

.application__area {
  width: 40%;
}

.application__area__inner {
  padding-left: 60px;
  position: relative;
}

.application__area__inner::before {
  width: calc(100% + 200px);
  content: "";
  position: absolute;
  background-color: #f4f4f4;
  height: calc(100% + 200px);
  right: 0;
  bottom: -100px;
  z-index: -1;
}

.application .mainContent__subTitle {
  text-align: left;
}

.application__sentence p {
  line-height: 2;
}

.application__sentence p::first-letter {
  font-weight: bold;
  font-size: 1.2rem;
}

.gallery__cat {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url(../images/main_03.jpg);
}

.gallery__mask {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.gallery__container {
  padding: 70px 0;
  width: 70%;
  margin: auto;
}

.gallery__sentence {
  line-height: 2;
  font-weight: bold;
  word-break: break-all;
}
