html {
  font-size: 20px;
}

body {
  font-family: europa, "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(000, 000, 000, 0.5);
  &__bg {
    position: relative;
    z-index: 2;
    padding: 30px;
  }
  &__log a {
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
  }
  &__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__navi a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    color: #fff;
  }
  &__navi {
    &__list {
      display: flex;
    }
  }
}
// キービジュアルエリア
.mainKv {
  position: relative;
  background-image: url(../images/kv.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 660px;
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 10px 5px #000;
  }
}
// サブタイトル
.mainContent__subTitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 24px;
  &::before,
  &::after {
    display: inline-block;
    content: "";
    vertical-align: 5px;
    width: 32px;
    height: 2px;
    background-color: #000;
  }
  &::before {
    margin-right: 8px;
  }
  &::after {
    margin-left: 8px;
  }
}
// コンセプトエリア
.mainContent__cat {
  margin-bottom: 120px;
  .mainContent__inner {
    max-width: 1080px;
    margin: auto;
    padding: 120px 0 0;
  }
  .mainContent__title {
    font-family: fantasy;
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    &::after {
      content: "";
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 20px;
      height: 2px;
      border-bottom: 2px solid;
    }
  }
  .concept__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .concept__img {
      width: calc(50% - 40px);
      img {
        width: 100%;
      }
    }
    .concept__text {
      width: calc(50% - 40px);
      height: 630px;
      overflow-y: auto;
      .concept__sentence p {
        margin-bottom: 16px;
      }
    }
  }
}
// アプリケーションエリア
.application {
  .mainContent__cat {
    margin-bottom: 240px;
  }
  &__cat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &__img {
    width: 60%;
    &__bg {
      background-image: url(../images/main_02.jpg);
      width: 100%;
      height: 580px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-x: hidden;
      position: relative;
      display: inline-block;
    }
  }
  &__area {
    width: 40%;
    &__inner {
      padding-left: 60px;
      position: relative;
      &::before {
        width: calc(100% + 200px);
        content: "";
        position: absolute;
        background-color: #f4f4f4;
        height: calc(100% + 200px);
        right: 0;
        bottom: -100px;
        z-index: -1;
      }
    }
  }
  .mainContent__subTitle {
    text-align: left;
  }
  &__sentence p {
    line-height: 2;
    &::first-letter {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
